
.ButtonSubmit{
    width: 50%;
    height: 45%;
    background-color: transparent;
    color: var(--color-white);
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-white);
    border-radius: 30px;
    font-size: 17px;
}

.ButtonSubmit:hover{
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-white);
    transition: 500ms;
    transform: scale(1.02);
    font-size: 18px;
}